.container{
  height: 220px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: 42%;
  z-index: 9999999;
  width: 400px;
}

.header{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.crossIcon{
  height: 20px;
  width: 20px;
}

.deleteText{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.buttons{
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.noBtn{
  height: 100%;
  width: 160px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 700;
}

.yesBtn{
  height: 100%;
  width: 160px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1B48DA;
  border: none;
  color: #FFFFFF;
}